/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

/* ---------------- Tabs ---------------- */
.tab {
  padding: 0.5rem;
  border: 1px solid black;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.tab.active {
  background-color: #ddd;
  font-weight: bold;
}

.tab span {
  font-size: 0.8rem;
  color: red;
  min-width: 200px;
}

/* ---------------- Containers ---------------- */
.main-container {
  height: calc(100vw - 120px);
}

.main-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.8rem 0.2rem 0.8rem;
}

.all-tabs {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

/* ---------------- Options ---------------- */
.options-primary {
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;
}

.options-primary * {
  -webkit-app-region: no-drag;
}

.options-primary-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ---------------- Buttons ---------------- */
.btn {
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  border: 1px solid black;
  -webkit-app-region: no-drag;
}

.close-browser-btn {
  background-color: red;
  color: white;
}

/* ---------------- Search Box ---------------- */
.search-box {
  font-size: 1.3rem;
  width: 80vw;
  margin: auto;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid gray;
  padding: 0.2rem 0.5rem;
}

/* ---------------- Color Picker ---------------- */
.color-options {
  display: none;
}

.colorpicker {
  display: none;
}

.colorpicker-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorpicker-btn img {
  width: 100%;
  height: auto;
}
.colorpicker {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  z-index: 10;
}

/* ---------------- Loader ---------------- */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: none;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
