/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

/* Tabs */
.tab {
  padding: 0.5rem;
  border: 1px solid black;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.tab.active {
  background-color: #ddd;
  font-weight: bold;
}

.tab span {
  font-size: 0.8rem;
  color: red;
  min-width: 200px;
}

/* Containers */
.main-container {
  height: calc(100vw - 120px);
}

.main-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-tabs {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  max-width: 70%;
}

/* Options */
.options-primary {
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;
}

.options-primary * {
  -webkit-app-region: no-drag;
}

.options-primary-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Buttons */
.btn {
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  -webkit-app-region: no-drag;
}

/* Search Box */
.search-box {
  font-size: 1.5rem;
  width: 80vw;
  margin: auto;
}

/* Color Picker */
.color-options {
  display: none;
}

.colorpicker {
  display: none;
}

.colorpicker-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorpicker-btn img {
  width: 100%;
  height: auto;
}
